body {
    background-color: #ffffff;
    opacity: 1;
    background-image: linear-gradient(30deg, #f7ce45 12%, transparent 12.5%, transparent 87%, #f7ce45 87.5%, #f7ce45), linear-gradient(150deg, #f7ce45 12%, transparent 12.5%, transparent 87%, #f7ce45 87.5%, #f7ce45), linear-gradient(30deg, #f7ce45 12%, transparent 12.5%, transparent 87%, #f7ce45 87.5%, #f7ce45), linear-gradient(150deg, #f7ce45 12%, transparent 12.5%, transparent 87%, #f7ce45 87.5%, #f7ce45), linear-gradient(60deg, #f7ce4577 25%, transparent 25.5%, transparent 75%, #f7ce4577 75%, #f7ce4577), linear-gradient(60deg, #f7ce4577 25%, transparent 25.5%, transparent 75%, #f7ce4577 75%, #f7ce4577);
    background-size: 28px 49px;
    background-position: 0 0, 0 0, 14px 25px, 14px 25px, 0 0, 14px 25px;
    overflow: hidden;
}

nav {
    background: white;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #e9c000;
}

.logo {
    font-weight: 900;
    font-family: 'Book Antiqua';
    font-size: 2rem;
    color: #ff9c00;
}

nav > a {
    color: black;
}

code {
  color: #ff9c00;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*
    Note Create component
*/

.note-wrapper {
    height: 90dvh;
    border: 1px solid #ebebeb;
    border-radius: 1rem;
    font-family: 'Segoe UI Symbol';
    -webkit-box-shadow: 0px 0px 24px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 24px -9px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 24px -9px rgba(66, 68, 90, 1);
}
.title-container {
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    padding: 1rem;
    gap: 15px;
    background: #ebebeb;
    border-radius: 1rem 1rem 0 0 ;
}
    .title-container input {
        flex: 2;
        border-radius: 0.4rem;
        text-align: center;
        font-weight: 900;
        border: none;
        -webkit-box-shadow: 0px 0px 24px -14px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 0px 24px -14px rgba(0, 0, 0, 1);
        box-shadow: 0px 0px 24px -14px rgba(0, 0, 0, 1);
    }
.noteTitle {
    
}
.note-editor-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 15px;
    height: 92dvh;
    align-items: center;
    background: white;
}


.noteText {
    padding: 1rem 1rem 67dvh 1rem;
    border-radius: 0.5rem;
    width: 60dvw;
    -webkit-box-shadow: inset 0px 0px 24px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 24px -9px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 24px -9px rgba(66, 68, 90, 1);
    border: none;
    min-height: 30dvh;
}
.addnote-btn {
    border-radius: 0.4rem;
    width: 10dvw;
    align-self: center;
    background-color: #e9c000;
    border: none;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
    flex-shrink:0;
}
    .addnote-btn:hover {
        -webkit-box-shadow: inset 0px 0px 5px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: inset 0px 0px 5px 0px rgba(66, 68, 90, 1);
        box-shadow: inset 0px 0px 5px 0px rgba(66, 68, 90, 1);
        background-color: #d7b101
    }

    /*
        List Notes
    */

.listNotes-container {
    display: flex;
    flex-direction: column;
    height: 90svh;
    border: 1px solid #ebebeb;
    border-radius: 1rem;
    font-family: 'Segoe UI Symbol';
    -webkit-box-shadow: 0px 0px 24px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 24px -9px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 24px -9px rgba(66, 68, 90, 1);
    background: white;
}
.list-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    padding: 1rem;
    gap: 15px;
    background: #ebebeb;
    border-radius: 1rem 1rem 0 0;
}
.listnote-title {
    font-weight: 900;
    background: #f1f1f1;
    border-radius: 1rem;
    font-variant-caps: all-petite-caps;
    padding: 1rem;
    height: 100%;
    align-items: center;
    display: flex;
}

.listnote-display {
    display: flex;
    border: 1px solid #ebebeb;
    border-radius: 1rem;
    flex-direction: row;
    margin: 1rem;
    gap: 2rem;
    justify-content: space-between;
}

.listnote-date{
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
    height: 100%;
}

.listnote-btn-wrapper {
    display: flex;
    gap: 0.5rem;
   padding: 0.5rem;
}


.listnote-btn {
    border-radius: 0.4rem;
    min-width: 5dvw;
    align-self: center;
    background-color: #e9c000;
    border: none;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
    flex-grow: 1;
    overflow: hidden;
}
    .listnote-btn:hover {
        -webkit-box-shadow: inset 0px 0px 5px 0px rgba(66, 68, 90, 1);
        -moz-box-shadow: inset 0px 0px 5px 0px rgba(66, 68, 90, 1);
        box-shadow: inset 0px 0px 5px 0px rgba(66, 68, 90, 1);
        background-color: #d7b101
    }

    .modal-btn-wrapper {
        display: flex;
        gap: 1rem;
    }